<div class="w3-row-padding w3-quarter w3-display-right">
    <div class="w3-container w3-display-top w3-padding">
      <button class="w3-btn w3-round-xlarge w3-large w3-black buttonStyle w3-opacity-min" (click)="newGame()">NEW GAME</button>
    </div>
    <div class="w3-container w3-display-center w3-padding">
      <button class="w3-btn w3-round-xlarge w3-large w3-black buttonStyle w3-opacity-min" (click)="showHideChat()">SHOW/HIDE CHAT</button>
    </div>
    <div class="w3-container w3-display-bottom w3-padding">
      <button class="w3-btn w3-round-xlarge w3-large w3-black buttonStyle w3-opacity-min" (click)="forfeitGame()">FORFEIT</button>
    </div>
  </div>
