<div class="background">

    <div class="w3-third">
      <div class="w3-left">
        <img src="assets/avatars/luke.png" class="w3-twothird w3-display-top">
        <div class = "infoText" class="w3-row">
          Luke Uebelein
          <br>
          Wins: 0
          <br>
          Losses: 25
        </div>
      </div>

      <div class="w3-padding">
        Suppress the rogue team!
      </div>
    </div>

      <!--<div class="w3-third">
        <div class="w3-padding w3-third w3-center">
          Choose AI Difficulty
          <div>
            <mat-button-toggle-group>
              <mat-button-toggle>Unfriendly</mat-button-toggle>
              <mat-button-toggle>Wrathful</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </div>-->

      <div class="w3-third">
          <div>
            <div class="w3-right">
              <img src="assets/avatars/dylanAvatar.png" class="w3-twothird w3-display-top">
              <div class = "infoText" class="w3-row">
                Dylan Gonzalez
                <br>
                Wins: 1
                <br>
                Losses: 1
              </div>
            </div>

            <div class="w3-padding">
              Crush the Corporation!
            </div>
          </div>
        </div>

        <div class="w3-row w3-padding w3-center">
            Who goes first?
              <!--<mat-button-toggle-group>
                <mat-button-toggle>Player 1</mat-button-toggle>
                <mat-button-toggle>Random</mat-button-toggle>
                <mat-button-toggle>Player 2</mat-button-toggle>
              </mat-button-toggle-group>-->

          </div>

    <div class="w3-container w3-padding w3-display-bottomleft">
      <button class="w3-btn w3-round-xlarge w3-large w3-black buttonStyle w3-opacity-min" (click)="returnToMenu()">Return to Menu</button>
    </div>
    <div class="w3-container w3-padding w3-display-bottomright">
        <button class="w3-btn w3-round-xlarge w3-large w3-black buttonStyle w3-opacity-min" (click)="goToBoard()">Play Game</button>
      </div>
  </div>

  //TODO: button to board route
