<div class="background">
  <h1 class="headingText w3-padding w3-center" style="color:aqua;">Winner</h1>
        <div class="w3-padding w3-center">
          <img src="assets/avatars/luke.png">
          <div class = "infoText" class="w3-row" style="color:black; font-size:16pt">
            Name: Luke Uebelein
            <br>
            Wins: 1
            <br>
            Losses: 25
          </div>
        </div>

  <div class="w3-container w3-padding w3-display-bottomleft">
    <button class="w3-btn w3-round-xlarge w3-large w3-black buttonStyle w3-opacity-min" (click)="returnToLeaderboard()">Leaderboard</button>
  </div>

  <div class="w3-container w3-padding w3-display-bottomright">
    <button class="w3-btn w3-round-xlarge w3-large w3-black buttonStyle w3-opacity-min" (click)="returnToMenu()">Return to Menu</button>
  </div>
</div>
